.mainContainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: #030303;
    margin:0 auto;
    padding:20px 24px;
}

.containerPosts{
    display: flex;
    flex-direction: column;
    width:640px;
    
}
.div{
    display: flex;
    flex-direction: row;

}
.divPost{
    display:block;
    color:#77797a;
    width: 100%;
    background-color: #1a1a1b;
    padding: 10px;
}
.divExt{
    display: flex;
    color:#77797a;
    margin: 0px 10px 10px 0px;
    background-color: #161617;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
}
.divExt:hover{
    border: 1px solid rgba(255,255,255,0.5);
}
.divRightAside{
    display:block;
    color:#77797a;
    background-color: #1a1a1b;
    padding: 10px;
}
.leftDivVotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 26px;
    color: white;
}
.iconDownVote{
    content: url("/js/arrow-down-sign-to-navigate.png");
}
.iconUpVote{
    content: url("/js/up-arrow.png");
}
.iconComment{
    content: url("/js/chat-bubble.png");
    width: 30px;
    padding-right: 5px;
    height: 24px;
    
}

.postAuthor{
    color:#77797a;
}
.postTitle{   
    color: white;
}
.postBody{
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.divCommentsBtn:hover{
    background-color: #2d2d2f;
}
.divCommentsBtn{
    padding:8px;
    margin-top: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
