
.mainContainer{
    display:flex;
    justify-content: center;
    flex-direction: row;
    background-color: #030303;
    margin:0 auto;
    padding:20px 24px;
}

.containerPosts{
    display: flex;
    flex-direction: column;
    width:640px;
    
}
.div{
    display: flex;
    flex-direction: row;

}
.divPost{
    cursor: pointer;
    display:block;
    color:#77797a;
    width: 100%;
    background-color: #1a1a1b;
    padding: 10px;
}
.divExt{
    display: flex;
    color:#77797a;
    margin: 0px 10px 10px 0px;
    background-color: #161617;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 3px;
    max-width: 640px;
}
.divExt:hover{
    border: 1px solid rgba(255,255,255,0.5);
}
.divRightAside{
    display:block;
    color:#77797a;
    background-color: #1a1a1b;
    padding: 10px;
    height: 500px;
}
.leftDivVotes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    max-width: 26px;
    color: white;
}
.iconDownVote{
    content: url("../img/arrow-down-sign-to-navigate.png");
    cursor: pointer;
}
.iconUpVote{
    content: url("../img/up-arrow.png");
    cursor: pointer;
}
.iconDownVoted{
  content: url("../img/down-arrow-voted.png");
  cursor: pointer;
}
.iconUpVoted{
  content: url("../img/up-arrow-voted.png");
  cursor: pointer;
}

.iconComment{
    content: url("../img/chat-bubble.png");
    width: 30px;
    padding-right: 5px;
    height: 24px;   
}
.hrefStyle{
  text-decoration:none;
  color:white;
}
.hrefStyle:hover{
  color: white;
  text-decoration: underline;
}
.postAuthor{
    color:#77797a;
}
.postTitle{   
    color: white;
}
.postBody{
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.divCommentsBtn:hover{
    background-color: #2d2d2f;
}
.divCommentsBtn{
    padding:8px;
    margin-top: 5px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divComments{
  color:white;
  margin: 0px 10px 10px 0px;
  background-color: #161617;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 3px;
  max-width: 640px;


}
.spanDate{
  color:#77797a;
  margin-left: 3%;
  
}
/*NAVBAR*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  /**/

  .menu-bar {
    background-color: #1a1a1b;
    color:white;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
    color: white;

  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    color: white;
    background-color:#1a1a1b;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  .commentTextArea{
    height: 63px;
    background-color: #1a1a1b;
    resize: none;
    border: 1px solid white;
    border-radius: 3px;
    width: 100%;
    color:white;
    outline: none;

}
